    <form action="/register" method="post">

    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>

    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>

    <label for="login">Login:</label><br>
    <input type="text" id="login" name="login"><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>

    <label for="birth_day">Birth date:</label><br>
    <input type="date" id="birth_day" name="birth_date"><br>


    <input type="submit" value="Submit">
    </form>